@font-face {
  font-family: 'task-edit-icons';
  src:  url('fonts/icomoon.eot?cpxspv');
  src:  url('fonts/icomoon.eot?cpxspv#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?cpxspv') format('truetype'),
    url('fonts/icomoon.woff?cpxspv') format('woff'),
    url('fonts/icomoon.svg?cpxspv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/* 工具栏图标样式 */
.icon-add_stage,
.icon-add_task,
.icon-back,
.icon-layout,
.icon-save,
.icon-save_generate {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'task-edit-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add_stage:before {
  content: "\e900";
}
.icon-add_task:before {
  content: "\e901";
}
.icon-back:before {
  content: "\e902";
}
.icon-layout:before {
  content: "\e903";
}
.icon-save_generate:before {
  content: "\e904";
}
.icon-save:before {
  content: "\e905";
}
