@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?pt20wu');
  src:  url('fonts/icomoon.eot?pt20wu#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?pt20wu') format('truetype'),
    url('fonts/icomoon.woff?pt20wu') format('woff'),
    url('fonts/icomoon.svg?pt20wu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ic_todo_approve:before {
  content: "\e900";
}
.icon-ic_todo_giveBack:before {
  content: "\e901";
}
.icon-ic_todo_result_false:before {
  content: "\e902";
}
.icon-ic_todo_result_true:before {
  content: "\e903";
}
.icon-ic_todo_todo:before {
  content: "\e904";
}
